.display {
    display: flex;
}

.justify {
    justify-content: center;
}

.align {
    align-items: center;
}

.border {
    border: 2px solid red;
    margin: 3px;
}

.bgblack {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bggrey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m1 {
    margin: 7px;
}

.p1 {
    padding: 10px;
}

::-webkit-scrollbar-track {
    background: #333; 
}


::-webkit-scrollbar-thumb {
    background-color: #666; 
    border-radius: 8px; 
    border: 2px solid #333; 
}


::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

